<h1><%= @post["last_name"] %>, <%= @post["first_name"] %></h1>

<ul>
  <li>Place: <a href="/places/<%= @place["id"] %>"><%= @place["name"] %></a></li>
  <li>Email: <%= @post["description"] %></li>
</ul>